@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

body {
}

.text-decorder-red {
  text-decoration-color: red;
}

.bg-circle-gradient {
  background: radial-gradient(circle, #36aa6f 100%, #63637300 0%);
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 149, 44%, 54%;
    --primary-muted: 149, 36%, 16%, 1;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 6% 14%;
    --input: 240 5.9% 90%;
    --ring: 154.9 100% 19.2%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --surface: 0 0% 100%;
    --surface-foreground: 0 0% 32.2%;
    --muted-text: 0 0% 79.2%;
  }

  .dark {
    --background: 0 0% 7.1%;
    --foreground: 0 0% 98%;
    --card: 0 0% 12.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 98%;
    --primary: 149, 44%, 54%, 1;
    --primary-muted: 149, 36%, 16%, 1;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 14.1%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.1%;
    --muted-foreground: 0 0% 60.4%;
    --accent: 0 0% 14.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 10.2 77.9% 53.9%;
    --destructive-foreground: 0 0% 98.4%;
    --border: 240 8% 10%;
    --input: 0 0% 18%;
    --ring: 154.9 100% 19.2%;
    --chart-1: 170.8 43.1% 61.4%;
    --chart-2: 33.2 90.3% 75.7%;
    --chart-3: 83.8 61.7% 63.1%;
    --chart-4: 276.1 67.7% 74.5%;
    --chart-5: 13.8 89.7% 69.6%;
    --surface: 0 0% 9%;
    --surface-foreground: 0 0% 98%;
    --muted-text: 0 0% 79.2%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.background-primary-gradient {
  background-color: hsla(149, 0%, 0%, 1);
  background-image: radial-gradient(at 36% 49%, hsla(24, 0%, 0%, 1) 0px, transparent 50%),
    radial-gradient(at 67% 0%, hsla(74, 0%, 0%, 1) 0px, transparent 50%),
    radial-gradient(at 100% 100%, hsla(149, 44%, 54%, 1) 0px, transparent 50%),
    radial-gradient(at 100% 0%, hsla(172, 47%, 44%, 1) 0px, transparent 50%),
    radial-gradient(at 75% 25%, hsla(117, 0%, 0%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 99%, hsla(149, 44%, 54%, 1) 0px, transparent 50%),
    radial-gradient(at 4% 26%, hsla(341, 0%, 0%, 1) 0px, transparent 50%);
}

.font-space-mono {
  font-family: var(--font-space-mono);
}

.font-sans-plex {
  font-family: var(--font-sans-plex);
}
.font-space-grotesk {
  font-family: var(--font-space-grotesk);
}
.font-space {
  font-family: var(--font-space);
}

@font-face {
  font-family: 'SpaceType';
  src: url('./SpaceType-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.animate-dash {
  animation: dash-move 0.6s linear infinite;
}

@keyframes dash-move {
  to {
    stroke-dashoffset: -8;
  }
}
.radial-gradient {
  background: radial-gradient(ellipse at center, transparent 0%, transparent 30%, rgb(0, 0, 0) 100%);
  z-index: 10;
}
